  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

div.col.m6.l6.s12{
    padding-top: 15px;
}

.top-border {
    border-top: blue solid 3px;
    padding-top: 25px;
}
