{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <div class="col12 center">
      <img class="responsive-img" src="static/blog-banner.webp" />
    </div>
  </div>
  {% for subject in blog %}
  <div class="row">
    <div class="col l4 m4 s12 center">
      <img
        class="responsive-img"
        src="{{url_for('static', filename='stacked_books.jpg')}}"
      />
      <h4 class="blue-text darken-3 center-align">{{subject.reading_title}}</h4>
    </div>

    <div class="col l8 m8 s12 center">
      <h5>
        {{subject.main_subject}}
        <!--Edit and Delete for main Article-->
      </h5>

      <ul class="collapsible">
        <li>
          <h4 class="blue-text darken-5 center collapsible-header">
            Comments<i class="material-icons">expand_more</i>
          </h4>

          {% for comment in subject.comments %}
          <h6 class="collapsible-body left-align">
            {{comment}}<a
              class="waves-effect waves-light btn red lighten-2 btn-small right"
              href="#"
              >Delete</a
            >
          </h6>
          {% endfor%}
          <br />
        </li>
      </ul>

      <div class="row">
        <form
          action="{{url_for('insert_comment', blog_id=blog._id)}}"
          method="POST"
        >
          <div class="center">
            <textarea
              id="comments"
              name="comments"
              cols="30"
              rows="10"
              class="materialize-textarea"
            >
            </textarea>
          </div>

          <button
            class="btn waves-effect waves-light blue darken-3"
            type="submit"
            name="action"
          >
            Add comment
          </button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</main>
{% endblock %}
