{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <div class="col12 center">
      <img class="responsive-img" src="static/blog-banner.webp" />
    </div>
  </div>
  {% for subject in blog %}
  <div class="row">
    <div class="col l4 m4 s12 center">
      <img
        class="responsive-img"
        src="{{url_for('static', filename='stacked_books.jpg')}}"
      />
      <h4 class="blue-text darken-3 center-align">{{subject.reading_title}}</h4>
    </div>

    <div class="col l8 m8 s12 center">
      <h5>
        {{subject.main_subject}}
        <!--Edit and Delete for main Article-->
      </h5>

      <ul class="collapsible">
        <li>
          <h4 class="blue-text darken-5 center collapsible-header">
            Comments<i class="material-icons">expand_more</i>
          </h4>
          

          
          <p class="collapsible-body">
            {{subject.comment}}
            <br />
          
            <a class="col12 waves-effect waves-light btn red lighten-2" href="#"
              >Delete</a
            > <!--Delete comments ready in app.py need to tidy up array-->
          </p>
        </li>
      </ul>
     
     
            <a class="col12 waves-effect waves-light btn blue darken-3" href="{{url_for('get_add_comment')}}">Add Comment</a>
      
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
