{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <div class="col12 center">
      <img class="responsive-img" src="static/blog-banner.webp" />
    </div>
  </div>
  {% for subject in blog %}
  <div class="row">
    <div class="col l4 m4 s12 center">
      <img
        class="responsive-img"
        src="{{url_for('static', filename='stacked_books.jpg')}}"
      />
      <h4 class="blue-text darken-3 center-align">{{subject.reading_title}}</h4>
      <a
        class="waves-effect waves-light btn pink lighten-4 btn-small right rad-but"
        href="{{url_for('delete_subject', subject_id=subject._id)}}"
      ></a>
      <a
        class="waves-effect waves-light btn teal lighten-4 btn-small right rad-but"
        href="{{url_for('edit_blog', subject_id=subject._id)}}"
      ></a>
    </div>

    <div class="col l8 m8 s12 center">
      <h5>
        {{subject.main_subject}}
        <!--Edit and Delete for main Article-->
      </h5>

      <ul class="collapsible">
        <li>
          <h4 class="blue-text darken-5 center collapsible-header">
            Comments<i class="material-icons">expand_more</i>
          </h4>

          <h6 class="collapsible-body">
            {% for comments in subject.comments %}
            {% for comment_author in subject.comment_author %}
            <div class="row">
              <div class="col s9 left-align">
                <p>{{comments}}</p>
              </div>
                
              <div class="col s3">
                
                <p>Written by {{comment_author}}</p>
                <a
                  class="waves-effect waves-light btn pink lighten-4 btn-small col3 rad-but"
                  href="{{url_for('delete_comment', subject_id=subject._id, comment=comments, author=comment_author)}}"
                ></a>
              </div> 
            </div>
                {% endfor%}
            {% endfor%}
          </h6>
        </li>
      </ul>

      <div class="row">
        <form
          action="{{url_for('insert_comment', subject_id=subject._id)}}"
          method="POST"
        >
          <!--Name Insert-->
          <div class="container">
            <div class="col12">
              <input
                id="comment_author"
                name="comment_author"
                type="text"
                placeholder="Add Name"
              />
            </div>
            <!--Comment Insert-->
            <br />
            <div class="col12">
              <textarea
                id="comments"
                name="comments"
                cols="30"
                rows="10"
                class="materialize-textarea"
              >
Add Comment
            </textarea
              >
            </div>
          </div>
          <button
            class="btn waves-effect waves-light blue darken-3"
            type="submit"
            name="action"
          >
            Add comment
          </button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
  <div>
    <h6 class="center">
      Delete <a class="btn pink lighten-4 btn-small rad-but" href="#"></a> Edit
      <a class="btn teal lighten-4 btn-small rad-but" href="#"></a>
    </h6>
  </div>
</main>
{% endblock %}
