{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <div class="col l9 m12 s12 blue-text darken-3">
      <div class="row">
        {% for book in books %}
        <div class="col s6 m4 l4">
          <div class="">
            <img class="responsive-img z-depth-3" src="{{book.book_cover}}" />
            <h5>{{book.book_title}}</h5>
            <h6>Recommended By {{book.inspire_person}}</h6>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Categories-->
    <div class="col l3 m12 s12 blue-text darken-3 row">
      <h4 class="col12 left-pad">Categories</h4>
      {% for category in categories %}
      <p class="col12 left-pad">{{category.category}}</p>
      {% endfor %}
    </div>
  </div>
  <!--Featured-->
  <h2 class="blue-text text-darken-4">Featured People</h2>
  <div class="row top-border">
    {% for inspire_person in inspire_person %}
    <div class="col s6 m4 l2">
      <img class="responsive-img z-depth-3" src="{{inspire_person.img}}" />
      <h5>{{inspire_person.name}}</h5>
      <h6>{{inspire_person.job}}</h6>
    </div>
    {% endfor %}
  </div>
</main>

{% endblock %}
