{% extends 'base.html' %}
{% block content %}
{% for book in books %}
<main class="container">
	<div class="row ">
		<div class="col  m6 l6 s12 blue-text darken-3">
			<img class="responsive-img pad-center" src="the_eye1.png">
			<h5 class="col12 center-align">{{book.book_title}}</h5> <br>
			<p class="col12 center-align">Amazon Link</p>
			<p class="col12 center-align">{{book.inspire_person}}</p>
			<p class="col12 center-align">Category</p>
		</div>

		<div class="col  m6 l6 s12 blue-text darken-3">
			<div class="row col12">
				<h4 class=" flow-text center-align">Synopsis will be going here</h4>
			</div>
		</div>

	</div>

	<h2 class="blue-text text-darken-4"> People Book Inspired </h2>
	<div class="row top-border">
		<div class="col12 blue-text darken-3">
			<img class="responsive-img z-depth-3 center s-img" src="the_eye1.png">
			<h5 class="col12 center-align">Name</h5>
			<h6 class="col12 center-align"></h6>
		</div>

	</div>

</main>

{% endfor %}
{% endblock %}