{% extends 'base.html' %} {% block content %}
<main class="container">
  <div class="row">
    <div class="col m6 l6 s12 blue-text darken-3">
      <h2 class="">
        " Little by little, one travels far. " <br />
        - J. R. R. Tolkien
      </h2>
      <br />
      <h5>
        Welcome to Inspire were you will find Books recommended by visionaries
      </h5>
    </div>

    <div class="col m6 l6 s12 blue-text darken-3 valign-wrapper">
      <img class="responsive-img z-depth-3" src="static/the_eye2.png" />
    </div>
  </div>
  <h2 class="blue-text text-darken-4">Featured People</h2>

  <div class="row top-border">
    {% for home in homes %}
    <div class="col s6 m4 l2">
        <div class="">
        <a href="{{url_for('get_people')}}"><img class="responsive-img z-depth-3" src="{{home.img}}" /></a>
        <h5 class="blue-text darken-3 center-align">{{home.inspire_person}}</h5>
        <h6 class="blue-text darken-3 center-align">{{home.work_cat}}</h6>
        </div>
    </div>
    {% endfor %}
    
  <h2 class="blue-text text-darken-4">Featured Books</h2>

  <div class="row top-border">
    {% for home in home %}
    <div class="col s6 m4 l2">
    <div class="">
      <a href="{{url_for('get_books')}}"><img class="responsive-img z-depth-3" src="{{home.book_cover}}" /></a>
      <h5 class="blue-text darken-3 center-align">{{home.book_title}}</h5>
      <h6 class="blue-text darken-3 center-align">Recommended By {{home.inspire_person}}</h6>
    </div>
    </div>
    {% endfor %}
  </div>
</main>


{% endblock %}
