{% extends 'base.html' %} {% block content %} 
	<main class="container">

		<div class="row ">

            <div class="col  m6 l6 s12 blue-text darken-3">
                <h2 class="">" Little by little, one travels far. " <br> - J. R. R. Tolkien</h2> 
                <br>
                <h5> Welcome to Inspire were you will find Books recommended by visionaries</h5>
            </div>

            <div class="col  m6 l6 s12 blue-text darken-3 valign-wrapper">
                <img class="responsive-img z-depth-3" src="static/the_eye2.png">
            </div>

        </div>
        <h2 class="blue-text text-darken-4"> Featured People </h2>

			<div class="row top-border">
                <div class="col s6 m4 l2">
                    <img class="responsive-img z-depth-3" src="static/the_eye1.png">
                    <h5>Title</h5>
                    <h6>Recommended By . . .</h6>
                </div>
                <div class="col s6 m4 l2">
                    <img class="responsive-img z-depth-3" src="static/the_eye1.png">
                    <h5>Title</h5>
                    <h6>Recommended By . . .</h6>
                </div>
                <div class="col s6 m4 l2">
                    <img class="responsive-img z-depth-3" src="static/the_eye1.png">
                    <h5>Title</h5>
                    <h6>Recommended By . . .</h6>
                </div>
                <div class="col s6 m4 l2">
                    <img class="responsive-img z-depth-3" src="static/the_eye1.png">
                    <h5>Title</h5>
                    <h6>Recommended By . . .</h6>
                </div>
                <div class="col s6 m4 l2">
                    <img class="responsive-img z-depth-3" src="static/the_eye1.png">
                    <h5>Title</h5>
                    <h6>Recommended By . . .</h6>
                </div>
                <div class="col s6 m4 l2">
                    <img class="responsive-img z-depth-3" src="static/the_eye1.png">
                    <h5>Title</h5>
                    <h6>Recommended By . . .</h6>
                </div>
            </div>

              <h2 class="blue-text text-darken-4"> Featured Books </h2>  
			<div class="row top-border">
                <div class="col s6 m4 l2">
                    <img class="responsive-img z-depth-3" src="static/the_eye1.png">
                    <h5>Title</h5>
                    <h6>Recommended By . . .</h6>
                </div>
                <div class="col s6 m4 l2">
                    <img class="responsive-img z-depth-3" src="static/the_eye1.png">
                    <h5>Title</h5>
                    <h6>Recommended By . . .</h6>
                </div>
                <div class="col s6 m4 l2">
                    <img class="responsive-img z-depth-3" src="static/the_eye1.png">
                    <h5>Title</h5>
                    <h6>Recommended By . . .</h6>
                </div>
                <div class="col s6 m4 l2">
                    <img class="responsive-img z-depth-3" src="static/the_eye1.png">
                    <h5>Title</h5>
                    <h6>Recommended By . . .</h6>
                </div>
                <div class="col s6 m4 l2">
                    <img class="responsive-img z-depth-3" src="static/the_eye1.png">
                    <h5>Title</h5>
                    <h6>Recommended By . . .</h6>
                </div>
                <div class="col s6 m4 l2">
                    <img class="responsive-img z-depth-3" src="static/the_eye1.png">
                    <h5>Title</h5>
                    <h6>Recommended By . . .</h6>
                </div>
            </div>
 
	</main>
{% endblock %}