{% extends 'base.html' %}
{% block content %}
{% for book in books %}

<main class="container">

	<div class="row ">
		<div class="col  l9 m12 s12 blue-text darken-3">
			<div class="row">
				<div class="col s6 m4 l4">
					<img class="responsive-img z-depth-3" src="the_eye1.png">
					<h5>Title</h5>
					<h6>Recommended By . . .</h6>
				</div>
				<div class="col s6 m4 l4">
					<img class="responsive-img z-depth-3" src="the_eye1.png">
					<h5>Title</h5>
					<h6>Recommended By . . .</h6>
				</div>
				<div class="col s6 m4 l4">
					<img class="responsive-img z-depth-3" src="the_eye1.png">
					<h5>Title</h5>
					<h6>Recommended By . . .</h6>
				</div>
				<div class="col s6 m4 l4">
					<img class="responsive-img z-depth-3" src="the_eye1.png">
					<h5>Title</h5>
					<h6>Recommended By . . .</h6>
				</div>
				<div class="col s6 m4 l4">
					<img class="responsive-img z-depth-3" src="the_eye1.png">
					<h5>Title</h5>
					<h6>Recommended By . . .</h6>
				</div>
				<div class="col s6 m4 l4">
					<img class="responsive-img z-depth-3" src="the_eye1.png">
					<h5>Title</h5>
					<h6>Recommended By . . .</h6>
				</div>
			</div>
		</div>

		<div class="col l3 m12 s12 blue-text darken-3 row">
			<h4 class="col12 left-pad">Categories</h4>
			<p class="col12 left-pad">Sport</p>
			<p class="col12 left-pad">Comedy</p>
			<p class="col12 left-pad">Education</p>
			<p class="col12 left-pad">Business</p>
			<p class="col12 left-pad">Entertainment</p>
			<p class="col12 left-pad">Entrepreneurship</p>
			<p class="col12 left-pad">Film</p>
			<p class="col12 left-pad">Journalism</p>
			<p class="col12 left-pad">Marketing</p>
			<p class="col12 left-pad">Media</p>
			<p class="col12 left-pad">Music</p>
			<p class="col12 left-pad">Tech</p>
		</div>

	</div>
	<h2 class="blue-text text-darken-4"> Featured People </h2>

	<div class="row top-border">
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
	</div>

	<h2 class="blue-text text-darken-4"> Featured Books </h2>
	<div class="row top-border">
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
	</div>

</main>

{% endfor %}
{% endblock %}