{% extends 'base.html' %}
{% block content %}
{% for book in books %}
<main class="container">

	<div class="row ">

		<div class="col12 blue-text darken-3">
			<img class="responsive-img z-depth-3 center" src="the_eye2.png">
			<h2 class="center-align">Name</h2>
			<p class="center-align">Age</p>
			<p class="center-align">Industry</p>
		</div>

	</div>


	<h2 class="blue-text text-darken-4"> Recommended Books </h2>
	<div class="row top-border">
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
		<div class="col s6 m4 l2">
			<img class="responsive-img z-depth-3" src="the_eye1.png">
			<h5>Title</h5>
			<h6>Recommended By . . .</h6>
		</div>
	</div>

</main>

{% endfor %}
{% endblock %}