{% extends 'base.html' %} {% block content %}

<main class="container">
  <form id="fomr1">
    <div class="row">
      <div class="col12">
        <h5 class="blue-text text-darken-2">Book Title</h5>
      </div>
      <div class="col12">
        <input type="text" placeholder="Book Title" />
      </div>

      <div class="col12">
        <h5 class="blue-text text-darken-2">Book Cover</h5>
      </div>
      <div class="col12">
        <input type="text" placeholder="Link to Book cover image" />
      </div>

      <div class="col12">
        <h5 class="blue-text text-darken-2 col12">Link to Buy</h5>
      </div>
      <div class="col12">
        <input type="url" placeholder="Amazon Link" />
      </div>

      <div class="col12">
        <h5 class="blue-text text-darken-2">Inspiring Person</h5>
      </div>
      <div class="col12">
        <input
          type="text"
          placeholder="Add Person's Name"
          class="col m6 l6 s12"
        />
        <input
          type="text"
          placeholder="Add Person's Industry"
          class="col m6 l6 s12"
        /><!--To Be changed to dropdown-->
        <p class="blue-text text-darken-3">Date of Birth</p>
        <input type="date" placeholder="Add Person's D.O.B" class="col12" />
      </div>

      <div class="col12">
        <h5 class="blue-text text-darken-2">Book Synopsis</h5>
      </div>
      <div class="col12">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <textarea
                  id="textarea1"
                  class="materialize-textarea"
                ></textarea>
                <label for="textarea1">Add book synopsis here</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col6">
        <h5 class="blue-text text-darken-2">Category</h5>
        <!--To Be changed to dropdown-->
      </div>
      <div class="col6">
        <input type="text" placeholder="Book Category" />
      </div>
    </div>
  </form>

  <div class="col12">
    <button
      class="btn waves-effect waves-light blue darken-3 center"
      type="submit"
      form="form1"
      value="Submit"
    >
      Submit
    </button>
  </div>
</main>

{% endblock %}
