{% extends 'base.html' %} {% block content %}
<!--Book Input-->
<main class="container">
  <form id="form1" action="{{url_for('insert_submission')}}" method="POST" class="">
    <div class="row">
      <div class="col12">
        <h5 class="blue-text text-darken-2">Book Title</h5>
      </div>
      <div class="col12">
        <input
          id="book_title"
          name="book_title"
          type="text"
          placeholder="Book Title"
        />
      </div>
      <div class="col12">
        <h5 class="blue-text text-darken-2">Author</h5>
      </div>
      <div class="col12">
        <input
          id="author"
          name="author"
          type="text"
          placeholder="Add Author Name"
        />
      </div>

      <div class="col12">
        <h5 class="blue-text text-darken-2">Book Cover</h5>
      </div>
      <div class="col12">
        <input
          id="book_cover"
          name="book_cover"
          type="text"
          placeholder="Link to Book cover image e.g. https://bit.ly/2Z7fwyI"
        />
      </div>

      <div class="col12">
        <h5 class="blue-text text-darken-2 col12">Link to Buy</h5>
      </div>
      <div class="col12">
        <input
          id="book_link"
          name="book_link"
          type="url"
          placeholder="Amazon Link"
        />
      </div>

      <div class="col6">
        <h5 class="blue-text text-darken-2">Book Category</h5>
        <!--To Be changed to dropdown-->
      </div>
      <div class="col12">
      <div class="row">
      <div class="input-field col s12">
            <select id="category" name="category">
            <option value="" disabled selected>Choose Book Category</option>
            {% for cat in categories %}
                      <option value="{{cat.category}}">{{cat.category}}</option>
                  {% endfor %}
            </select>
        </div>
        </div>
    </div>

    <div class="col12">
      <h5 class="blue-text text-darken-2">Book Synopsis</h5>
    </div>
    <div class="col12">
      <textarea
        id="synopsis"
        name="synopsis"
        cols="30"
        rows="10"
        class="materialize-textarea"
      >
      </textarea>
    </div>

    <!--Inspiring Person Input-->
    <div class="col12">
      <h5 class="blue-text text-darken-2">Inspiring Person</h5>
    </div>
    <div class="col12">
      <input
        type="text"
        id="inspire_person"
        name="inspire_person"
        placeholder="Add Person's Name"
        class=""
      />
      <!--To Be changed to dropdown-->
        <div class="row">
            <div class="input-field col s12">
                <select id="work_cat" name="work_cat">
                <option value="" disabled selected>Choose Person's Industry</option>
                {% for workcat in work_categories %}
                        <option value="{{workcat.work_cat}}">{{workcat.work_cat}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

    <div class="col12">
      <h5 class="blue-text text-darken-2">Profile Picture</h5>
      <input
        id="img"
        name="img"
        type="text"
        placeholder="Link to Profile image e.g. https://bit.ly/2NBsAH2"
      />
    </div>
   
    <div class="col12">
      <p class="blue-text text-darken-3">Date of Birth</p>
      <input
        type="date"
        id="born"
        name="born"
        placeholder="Add Person's D.O.B"
        class="col12 "
      />
    </div>
    <div class="col12 center-align">
   <button
      class="btn waves-effect waves-light blue darken-3"
      type="submit"
      form="form1"
      value="Submit"
    >
      Submit
    </button>

    </div>


  </form>

  
 
  
</main>

{% endblock %}
